<!doctype html>
<title>Guitarify</title>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
</head>
<div class="main">
    <div class="header">
        <h1>Welcome to Guitarify!</h1>
    </div>
    <div class="links">
        <a href="https://github.com/BrijPatel15/4thYearML">Github</a> 
    </div>
    <form action = "http://localhost:5000/upload" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
</div>
