<!doctype html>
<title>Guitarify</title>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
</head>
<div class="main">
    <div class="header">
        <h1>Welcome to Guitarify!</h1>
    </div>
    <div class="links">
        <a href="https://github.com/BrijPatel15/4thYearML">Github</a> 
    </div>
    <form action = "/upload" method = "POST" enctype = "multipart/form-data">
        <div>{{ config['filename'] }}</div>
         <input type = "file" name = "file" onchange="this.form.submit()"/>
         {% if config['file_error'] %}
            <div class="errors">{{ config['errors'] }}</div>
         {% endif   %}
      </form>
      <form>
        {% if not config['isPlaying'] %}
        <button type="submit" formaction="/play" >Play</button>
        {% else %}
        <button type="submit" formaction="/pause" >Pause</button>
        {% endif %}
      </form>
      <div class="logs">
        <textarea rows="25" cols="50" id="output" readonly></textarea>
        <ul class="sysinfo">System Utilization
            <li class="sysinfo" id="cpu"> </li>
            <li class="sysinfo" id="free_mem"> </li>
            <li class="sysinfo" id="memory_avail"> </li>
            <li class="sysinfo" id="memory_per"> </li>

        </ul>
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script>
            
            setInterval(function(){ // get the logs to view
                $("#output").scrollTop($("#output")[0].scrollHeight);
                $("#output").load("/stream")
                $("#output").scrollTop($("#output")[0].scrollHeight);

                $.getJSON("{{url_for('system')}}", function(data) {
                   var utils=[];
                   $.each(data, function(key,val){
                    $("#"+key).text(key+": "+val);
                   }) 
                   
                })
                
            },2000)
        </script>
      </div>
</div>
